﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("~/Content/Slider/JS/js-image-slider.css")" type="text/css" />
    <script src="@Url.Content("~/Content/Slider/JS/js-image-slider.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/generic.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Bootstrap/css/bootstrap.css")" type="text/css">
	<script src="@Url.Content("~/Content/Bootstrap/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
        <div id="header">
		<div>
			<a href="../" id="logo"><img src="@Url.Content("~/Images/logo.png")" alt=""></a>
			<ul>
				<li class="selected">
					@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)
				</li>
                <li>
					@Html.ActionLink("Tìm kiếm", "Search", "Home", new { area = "" }, null)
				</li>
				<li>
                    @Html.ActionLink("Phim ảnh", "ListFilm", "Home", new { area = "" }, null)
					<ul>
						<li>
							<a href="#">Đang chiếu</a>
						</li>
						<li>
							<a href="#">Sắp chiếu</a>
						</li>
					</ul>
				</li>
				<li>
                    @Html.ActionLink("Đặt vé", "BookTicket", "Home", new { area = "" }, null)
				</li>
			
				<li>
					<a href="LienLac.html">Liên Lạc</a>
                     @Html.ActionLink("Liên lạc", "Contact", "Home", new { area = "" }, null)
				</li>
				
			</ul>
		</div>
	</div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
