﻿@{
    ViewBag.Title = "Liên hệ";
}

<h2>Contact</h2>

<div id="body" class="about">
		<h2>Hỗ trợ</h2>
		<div>
			<div>
				<h4>Thông tin</h4>
				<img src="images/cinema4.jpg" alt="">
				<h3></h3>
				<p>
					
				</p>
				<h3></h3>
				<p>
					
				</p>
				<h3></h3>
				<p>
					
				</p>
				<h3></h3>
				<p>
					<br><br><br>
				</p>
				<p>
					<br><br>
				</p>
				<p>
					<br><br>
				</p>
				<p>
				
				</p>
			</div>
			<div>
				<h4>Liên lạc</h4>
				<img src="images/retro-telephone.jpg" alt=""> <span class="address">Địa chỉ</span> <span class="phone-num">+84 165 533 5728</span> <span class="fax-num">+84 165 533 5728</span> <span class="email">hoathachthao1606@gmail.com</span>
				<form action="index.html">
					<label for="name"><span>Tên *</span>
						<input type="text" id="name">
					</label>
					<label for="email"><span>Email *</span>
						<input type="text" id="email">
					</label>
					<label for="subject"><span>Chủ đề</span>
						<input type="text" id="subject">
					</label>
					<label for="comment"><span class="comment">Nội dung</span>
						<textarea name="comment" id="comment" cols="30" rows="10"></textarea>
					</label>
					<input type="submit" value="">
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="index.html">Trang Chủ</a>
					</li>
					<li>
						<a href="DatVe.html">Đặt vé</a>
					</li>
					
					<li>
						<a href="PhimAnh.html">Đang chiếu</a>
					</li>
					<li>
						<a href="TimKiem.html">Tìm kiếm</a>
					</li>
					<li>
						<a href="LienLac.html">Liên lạc</a>
					</li>
					<li>
						<a href="PhimAnh.html">Sắp chiếu</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Praesent at urna ac urna congue convallis.
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Praesent at urna ac urna congue convallis. Maecenas sed placerat turpis. Duis in dolor ut nibh molestie faucibus.
				</p>
				<form action="index.html">
					<input type="text" onClick="this.value = '';" onFocus="this.select()" onBlur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Cinema Theatre
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
		</div>
	</div>