﻿<div id="body" class="home">
		<div>
			<div>
				<a href="PhimAnh.html"><img src="images/baby-with-dog.jpg" alt=""></a>
				<h2><a href="PhimAnh.html">The baby and Dog</a></h2>
				<p>
					<!--Ghi gì thì ghi-->
				</p>
				<a href="PhimAnh.html">Đọc tiếp</a>
			</div>
			<ul>
				<li>
					<h3>Tên phim</h3>
					<span>Galaxy Nguyễn Du</span> <a href="PhimAnh.html"><img src="images/surfer.jpg" alt=""></a>
				</li>
				<li>
					<h3>Tên phim</h3>
					<span>Megastar</span> <a href="PhimANh.html"><img src="images/soldiers.jpg" alt=""></a>
				</li>
				<li>
					<h3>Tên phim</h3>
					<span>Galaxy Nguyễn Trãi</span> <a href="PhimAnh.html"><img src="images/ballet-dancer.jpg" alt=""></a>
				</li>
			</ul>
		</div>
				<div>
			<div>
				<h3><a href="TimKiem.html">Tìm kiếm</a></h3>
			
				<form id="saveContactForm" method="get">
				
                    <div> <h4 style="color:#FFFFFF">Ngày chiếu: <input type="text" name="Date" id="datepicker"></h4></div>
					@*<div>
                            <label style="color:#FFFFFF">Ngày Chiếu</label>
							<br/>
                            <select name="day">
                                <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option><option>7</option><option>8</option><option>9</option><option>10</option><option>11</option><option>12</option><option>13</option><option>14</option><option>15</option><option>16</option><option>17</option><option>18</option><option>19</option><option>20</option><option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option>
                            </select>
                        <select name="month">
                                <option>Jan</option><option>Feb</option><option>Mar</option><option>April</option><option>May</option><option>June</option><option>July</option><option>Aug</option><option>Sep</option><option>Oct</option><option>Nov</option><option>Dec</option>
                        </select>
                        <select name="year">
                                <option>2010</option><option>2011</option><option>2012</option><option>2013</option><option>2014</option><option>2015</option><option>2016</option><option>2017</option><option>2018</option><option>2019</option><option>2020</option><option>2021</option><option>2022</option><option>2023</option><option>2024</option>
                        </select>
                    </div>*@
					
					<script>
					    $(function () {
					        $("#datepicker").datepicker();
					    });
                    </script>
					
					<div>
						<label style="color:#FFFFFF"> Tên phim</label>
						<input class="inputfield" name="FilmName" type="text" style="width: 400px; margin-right: 20px;" />
					</div>
					
					
					
					<div>
        <input  type="button"  id="Search" name="search" value="Tìm kiếm">
        </div>
        </form>
        <script type="text/javascript">
            $('#Search').click(function () {
                $.get("@Url.Content("~/api/search")",
                      $("#saveContactForm").serialize(),
                      function(FilmInfoJsonPayload)
                      {
                          $(FilmInfoJsonPayload).each(function (i, item)
                          {
                              $('#contacts').append('<div>' + item.Name + '</div>');
                          });
                      },
                      "json"
                );
            });
        </script>
				
			</div>
			<div>
				<h3></h3>
				<ul>
					<li>
						
						<div>
							<span></span>
							<h4></h4>
							<p>
							
							</p>
						</div>
					</li>
					<li>
						
						<div>
							<span></span>
							<h4></h4>
							<p>
								
							</p>
						</div>
					</li>
					<li>
						
						<div>
							<span></span>
							<h4></h4>
							<p>
							
							</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="index.html">Trang Chủ</a>
					</li>
					<li>
						<a href="DatVe.html">Đặt vé</a>
					</li>
					
					<li>
						<a href="PhimAnh.html">Đang chiếu</a>
					</li>
					<li>
						<a href="TimKiem.html">Tìm kiếm</a>
					</li>
					<li>
						<a href="LienLac.html">Liên lạc</a>
					</li>
					<li>
						<a href="PhimAnh.html">Sắp chiếu</a>
					</li>
					
					
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Praesent at urna ac urna congue convallis.
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Praesent at urna ac urna congue convallis. Maecenas sed placerat turpis. Duis in dolor ut nibh molestie faucibus.
				</p>
				<form action="LienLac.html">
					<input type="text" onClick="this.value = '';" onFocus="this.select()" onBlur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Cinema Theatre
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
		</div>
	</div>