﻿@{
    ViewBag.Title = "ListFilm";
}

<h2>ListFilm</h2>

<div id="body" class="movies">
		<h2>Phim</h2>
		<ul>
			<li>
				<a href="NoiDungPhim.html"><img src="images/baby-with-dog2.jpg" alt=""></a>
				<h3>Tên phim</h3>
				<p>
					Nội dung phim
				</p>
				<a href="NoiDungPhim.html">Đọc tiếp</a>
			</li>
			<li>
				<a href="NoiDungPhim.html"><img src="images/surfers.jpg" alt=""></a>
				<h3>Tên phim</h3>
				<p>
					Nội dung phim
				</p>
				<a href="NoiDungPhim.html">Đọc tiếp</a>
			</li>
			<li>
				<a href="NoiDungPhim.html"><img src="images/soldiers2.jpg" alt=""></a>
				<h3>Tên phim</h3>
				<p>
					Nội dung phim
				</p>
				<a href="NoiDungPhim.html">Đọc tiếp</a>
			</li>
			<li>
				<a href="NoiDungPhim.html"><img src="images/ballet-dancer2.jpg" alt=""></a>
				<h3>Tên phim</h3>
				<p>
					Nội dung phim
				</p>
				<a href="NoiDungPhim.html">Đọc tiếp</a>
			</li>
		</ul>
	</div>
	<div id="footer">
		<div>
			<div>
				<span>Quick Links</span>
				<ul>
					<li>
						<a href="index.html">Trang Chủ</a>
					</li>
					<li>
						<a href="DatVe.html">Đặt vé</a>
					</li>
					
					<li>
						<a href="PhimAnh.html">Đang chiếu</a>
					</li>
					<li>
						<a href="TimKiem.html">Tìm kiếm</a>
					</li>
					<li>
						<a href="LienLac.html">Liên lạc</a>
					</li>
					<li>
						<a href="PhimAnh.html">Sắp chiếu</a>
					</li>
				</ul>
			</div>
			<div class="section">
				<span>Recent Tweets</span>
				<ul>
					<li>
						<p>
							Sed id mattis tellus. Proin egestas velit vel neque placerat sed interdum neque porta.
						</p>
						<span><a href="#">- 1 day ago</a></span>
					</li>
					<li>
						<p>
							Praesent at urna ac urna congue convallis.
						</p>
						<span><a href="#">- 2 day ago</a></span>
					</li>
				</ul>
			</div>
			<div>
				<span>Sign Up For Our Mailing List</span>
				<p>
					Praesent at urna ac urna congue convallis. Maecenas sed placerat turpis. Duis in dolor ut nibh molestie faucibus.
				</p>
				<form action="index.html">
					<input type="text" onClick="this.value='';" onFocus="this.select()" onBlur="this.value=!this.value?'Enter Email Address Here':this.value;" value="Enter Email Address Here">
					<input type="submit" value="">
				</form>
			</div>
			<p>
				&#169; 2023 Cinema Theatre
			</p>
			<div class="connect">
				<span>Stay Connected:</span> <a href="http://freewebsitetemplates.com/go/facebook/" id="facebook">facebook</a> <a href="http://freewebsitetemplates.com/go/twitter/" id="twitter">twitter</a> <a href="http://freewebsitetemplates.com/go/googleplus/" id="googleplus">google+</a>
			</div>
		</div>
	</div>
